In [3]:
import pandas as pd
import numpy as np

In [7]:
dataset = pd.read_csv('dataset_annotated_OK.csv')

In [9]:
contingency = pd.crosstab(dataset['gender'], dataset['category'])
contingency

category   ok  okay  oke  oké
gender
female     69    15  104   65
male      129    22   70   72